#### There are three types of Numeric Data Types
#### Integers, floating-point , and complex numbers.

## Integers

In [2]:
# An integer is a whole number whether it is zero, positive or negative

In [11]:
type(18)

int

In [7]:
type(14)

int

In [5]:
type(0)

int

In [6]:
type(1)

int

In [36]:
2+700

702

In [8]:
#negative integers

In [9]:
type(-12)

int

In [10]:
type(-5)

int

# floating-point

### A floating-point number is a positive or negative number with a decimal point

In [13]:
type(12.0 + 13)

float

In [15]:
type(13.9 + 19.9)

float

# complex number

### A complex number data type is used for imaginary number "j"

type(12.0+ 4j)

# Boolean

In [23]:
# Boolean data type represent values that are either true or false

In [24]:
1>3

False

In [25]:
3>2

True

In [27]:
type(3>6)

bool

# Sequence data types

### Sequence data types. There are three types of sequence data types
### Lists, turples and strings

#### A string is a sequence of characters enclosed in either single quotes (''), double quotes("") or triple quotes("""""")

In [35]:
Warrior_Queen = "Joy"
print(Warrior_Queen)

Joy

In [39]:
#Check for the data types

In [37]:
type(Warrior_Queen)

str

In [38]:
"Hello,World"

'Hello,World'

# lists

### list is a sequence data type that is enclosed in a square bracket

In [69]:
fruits=['apple', 'mango', 'orange']
print(fruits)

['apple', 'mango', 'orange']

In [70]:
#add to lists
fruits.append('watermelon')

In [71]:
print(fruits)

['apple', 'mango', 'orange', 'watermelon']

In [72]:
#change list
fruits[-1]= 'avocado'

In [73]:
print(fruits)

['apple', 'mango', 'orange', 'avocado']

# Turple

#### Turple data type is very  similar to lists data type, the main difference is that turple is immutable that is they not be change.

In [3]:
book_history = (1990,1770,1890)

In [4]:
#data type
type(book_history)

tuple

In [10]:
book_history[2]

1890

In [12]:
book_history.append(1995)

AttributeError: 'tuple' object has no attribute 'append'

## The above error means we cannot change or add anything to a turple

# Dictionaries

### Dictionaries are  changeable data structures used to store data values in key:value pairs.

In [5]:
student_by_country = {'Joy': 'Nigeria',
                 'Naomi': 'Turkey',
                  'Mary': 'Chain',
                  'Blessing': 'London',}

In [6]:
print(student_by_country)

{'Joy': 'Nigeria', 'Naomi': 'Turkey', 'Mary': 'Chain', 'Blessing': 'London'}

In [9]:
#check for data type
type(student_by_country)

dict

In [10]:
#All the values within the dict
student_by_country.values()

dict_values(['Nigeria', 'Turkey', 'Chain', 'London'])

In [28]:
#All the keys within the dict
student_by_country.keys()

dict_keys(['Joy', 'Naomi', 'Mary', 'Blessing'])

In [23]:
student_by_country.items()

dict_items([('Joy', 'Nigeria'), ('Naomi', 'Turkey'), ('Mary', 'Chain'), ('Blessing', 'London')])

In [26]:
student_by_country['Joy']

'Nigeria'

In [11]:
student_by_country['Blessing']

'London'

In [13]:
#To update info in a dictionary 
student_by_country ['Joy'] = 'Ghana'
print(student_by_country)

{'Joy': 'Ghana', 'Naomi': 'Turkey', 'Mary': 'Chain', 'Blessing': 'London'}

In [14]:
student_by_country.update ({'Joy': 'Ghana',
                 'Naomi': 'Turkey',
                  'Mary': 'Chain',
                  'Blessing': 'London',
                           'Bolu': 'France'})
student_by_country

{'Joy': 'Ghana',
 'Naomi': 'Turkey',
 'Mary': 'Chain',
 'Blessing': 'London',
 'Bolu': 'France'}

In [15]:
#To delete in a dictionary
del student_by_country['Bolu']
student_by_country

{'Joy': 'Ghana', 'Naomi': 'Turkey', 'Mary': 'Chain', 'Blessing': 'London'}