<a href="https://colab.research.google.com/github/joynaomi81/Python-Programming/blob/main/Python__Basics_Olusanya_Joy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Function that takes a lists of integers as input and returns the sum of all the integers in the list
def even_sum(numbers):
    return sum(i for i in numbers if i % 2 == 0)

result = even_sum([1, 2, 3, 4, 5])
print(result)

6

In [ ]:
#Functions that takes a string as input and returns the number of vowels in the string
def count_vowels(input_string):
    vowels = ['a','e''i','o','u''A','E','I','O','U']
    count = 0

    for i in input_string:
       if i in vowels:
            count += 1

    return count

In [ ]:
input_str = "Hello, World!"
result = count_vowels(input_str)
count_vowels(input_str)

2

In [ ]:
count_vowels('Football')

3

In [ ]:
#function that takes two integers num1 and num2 as input and returns the larger of the two numbers
def find_larger(num1, num2):
    return max(num1, num2)

# Example usage:
number1 = 30
number2 = 20
larger_number = find_larger(number1, number2)
find_larger(number1,number2)

30

In [ ]:
#Function that takes a list of strings as input and returns a new list containing all strings longer than 5 characters.
def filter_long_strings(input_list):
    return [string for string in input_list if len(string) > 5]

string_list = ["January", "February", "March", "April",  "May", "June", "July", "August", "September","October",  "November","December"]
result = filter_long_strings(string_list)
filter_long_strings(string_list)

['January',
 'February',
 'August',
 'September',
 'October',
 'November',
 'December']

In [ ]:
#Write a function that takes a list of integers and sorts them in descending order. Return the sorted list
def sort_descending(input_list):
    return sorted(input_list, reverse=True)

integer_list = [10, 3, 6, 12, 17]
result = sort_descending(integer_list)
sort_descending(integer_list)

[17, 12, 10, 6, 3]

In [ ]:
str_Bukola = 'Bukola'